//Colors
$color-darkgreen: rgb(85, 197, 122);
$color-mediumgreen: rgb(126, 213, 111);
$color-lightgreen: rgb(40, 180, 133);
$color-white: rgb(255, 255, 255);

//Common Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::selection {
    background-color: $color-lightgreen;
    color: $color-white;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

//Typography
h1 {
  text-transform: uppercase;
  color: $color-white;
  span {
    display: block;
    line-height: 4rem;
    backface-visibility: hidden;
  }
  .hero__heading-main {
    font-size: 3rem;
    letter-spacing: 2rem;
    animation: MoveInLeft 2s ease-in;
  }
  .hero__heading-sub {
    letter-spacing: 1.4rem;
    white-space: nowrap;
    animation: MoveInRight 2s ease-in;
  }
}

//Hero Animation
@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// NavBar & Hero Container
.background_container {
  position: relative;
  background: linear-gradient(
      rgba($color-darkgreen, 0.9),
      rgba($color-lightgreen, 0.9)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 98vh;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  //Navbar
  .navbar {
    padding: 2rem;
    background: transparent;
    .logo {
      width: 4rem;
    }
  }
  //Hero
  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .btn-white {
    all: unset;
    cursor: pointer;
    background-color: $color-white;
    color: $color-lightgreen;
    border-radius: 2rem;
    padding: 1.2rem 3.4rem;
    margin-top: 4rem;
    font-size: 1rem;
    font-weight: 700;
  }
}
